.profile-page {
  background-color: #F8F7FF;
  min-height: 100vh;
  display: flex;
  padding-left: 20rem;
  padding-right: 20rem;
}
.profile-page-container {
  max-width: 1400px;
  margin: 0 auto;
}
.profile-page .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}