.pending-contract-card {
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 400px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 14px 2px #0C00593F;
}

.contract-card-title {
  font-size: 22px;
  color: #0C0059;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.requester-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.requester-user-name {
  font-size: 18px;
  color: black;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.requester-rating {
  font-size: 16px;
  color: black;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 500;
}

.contract-card-sub-title {
  font-size: 20px;
  color: #0C0059;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 600;
}

.contract-description {
  font-size: 16px;
  color: black;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.feedback {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.contract-reject-button {
  background-color: #FC0F0F;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.contract-accept-button {
  background-color: #0FFC43;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}