.RpMain{
    background-color: #f0f2f5;
}
.RpContainer{
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.RpformData{
    padding: 60px;
}

.Rpdescription{
    font-size: 20px;
    color: #696969;
    margin-top: 18px;
}

.Rpform{
    margin-top: 20px;
}

.Rpemail{
    font-size: 24px;
}
.RpButton{
    width: fit-content;
    float: right;
    color: black;
    background-color: #D9D9D9;
}

.RpBackButton{
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 0 0 20px 20px;
    height: 50px;
    margin-top: 80px;
    /* border: ;
    border-bottom: 20px; */
}

.RpBackButton:hover{
    background-color: #D9D9D9;
    color: black;
}
.Rperror{
    margin-top: 10px;
    font-size: 14px;
    color: red;
}

.RpConfirm{
    margin-top: 20px;
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #007bff;
    -bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    margin-bottom: 25px;
}

.text-muted {
    text-decoration: none;
    color: #6c757d;
}
.text-muted:hover {
    text-decoration: underline;
}