.base-container {
  overflow-x: scroll;
  scrollbar-width: none;
}

.contract-card-navigation-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 14px 2px #0C00593F;
}

.empty-contracts-view {
  width: 70vw;
  height: 70vh;
}

.empty-contracts-text {
  font-size: 22px;
  color: #0C0059;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 600;
}