.FPMain{    
    background-color: #f0f2f5;
}

.FPContainer{
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.FPformData{
    padding: 60px;
}

.FPdescription{
    font-size: 20px;
    color: #696969;
    margin-top: 18px;
}

.FPform{
    margin-top: 35px;
}

.FPemail{
    font-size: 24px;
}

.FPButton{
    width: fit-content;
    float: right;
    color: black;
    background-color: #D9D9D9;
}

.FPBackButton{
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 0 0 20px 20px;
    height: 50px;
    margin-top: 80px;
    /* border: ;
    border-bottom: 20px; */
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #007bff;
    -bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    margin-bottom: 25px;
}
.FPBackButton:hover{
    background-color: #D9D9D9;
    color: black;
}
.text-muted {
    text-decoration: none;
    color: #6c757d;
}
.text-muted:hover {
    text-decoration: underline;
}
.FPerror{
    margin-top: 10px;
    font-size: 14px;
    color: red;
}