.add-feedback-title {
  font-family: "Franklin Gothic Book", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.add-feedback-rating {
  font-size: 16px;
  color: black;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 600;
}

.add-feedback-username {
  font-size: 18px;
  color: black;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 600;
}

.add-feedback-description {
  font-size: 14px;
  color: black;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: 500;
  min-width: 300px;
  min-height: 200px;
}

.add-feedback-submit-button {
  background-color: #0C0059;
  border-radius: 8px;
  border: 1px solid #0C0059;
  color: white;
  cursor: pointer;
}

.add-feedback-submit-button:hover {
  background-color: #0C0059;
  border-radius: 8px;
  border: 1px solid #0C0059;
}

.add-feedback-submit-button:disabled,
.add-feedback-submit-button.disabled {
  background-color: #0C0059;
  border-radius: 8px;
  border: 1px solid #0C0059;
  cursor: not-allowed !important;
}

.add-feedback-submit-button:active,
.add-feedback-submit-button.active {
  background-color: #0C0059 !important;
  border-radius: 8px !important;
  border: 1px solid #0C0059 !important;
}

.add-feedback-contract-document-button {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #0C0059;
  color: #0C0059;
  cursor: pointer;
}

.add-feedback-contract-document-button:hover {
  background-color: white;
  color: #0C0059;
  border-radius: 8px;
  border: 1px solid #0C0059;
}

.add-feedback-contract-document-button:active,
.add-feedback-contract-document-button.active {
  background-color: white !important;
  color: #0C0059;
  border-radius: 8px !important;
  border: 1px solid #0C0059 !important;
}

.error-message-text {
  color: red;
  font-weight: 500;
  max-width: 300px;
  font-family: "Franklin Gothic Book", sans-serif;
  font-size: large;
}